<div class="header-wrapper">
    <div class="left-side">
        <h1 class="title">Unapproved Contractors</h1>
        <form class="search-form" [formGroup]="formGroup">
            <label><input type="checkbox" formControlName="showCompletedOnly"> Show Completed Only</label>
            <div class="search-wrapper">
                <input type="text" placeholder="Search" formControlName="searchText">
                <i class="fa fa-search"></i>
            </div>
        </form>
    </div>
    <div class="right-side">
        <div class="select-wrapper">
            <select name="cities">
                <option value="ontario">Ontario</option>
                <option value="ontario">Ontario</option>
                <option value="ontario">Ontario</option>
            </select>
        </div>
        <button>
            <i class="fa fa-sign-out"></i>
        </button>
    </div>
</div>