<aside class="sidepanel-wrapper">
    <div class="logo">
        <img src="https://via.placeholder.com/100x70" alt="">
    </div>
    <div class="navbar">
        <div class="nav-group">
            <h3>Onboarding</h3>
            <div class="nav-items active">
                <p><i class="fa fa-heart"></i> Talent</p>
                <ul>
                    <li><a href="#" routerLink="/">Approved</a></li>
                    <li><a href="#" routerLink="/">Under Review</a></li>
                    <li><a href="#" routerLink="/">All Unapproved Contracts</a></li>
                </ul>
            </div>
            <div class="nav-items">
                <p><i class="fa fa-address-book"></i> Certificates</p>
            </div>
        </div>
        <div class="nav-group">
            <h3>Operations</h3>
            <div class="nav-items">
                <p><i class="fa fa-building"></i> Companies</p>
            </div>
            <div class="nav-items">
                <p><i class="fa fa-suitcase"></i> Shifts</p>
            </div>
            <div class="nav-items">
                <p><i class="fa fa-commenting"></i> SMS</p>
            </div>
            <div class="nav-items">
                <p><i class="fa fa-credit-card"></i> Payment</p>
            </div>
            <div class="nav-items">
                <p><i class="fa fa-check"></i> Approved Talent</p>
            </div>
        </div>
    </div>
</aside>